<div class="banner" style="">
  <div class="container">
    <h1>Movies <strong>Watchlist</strong>!</h1>
    <p>Build your own movie lists and never lose track of which movie you want to watch!</p>
    <%= link_to new_list_path do %>
      <button class="btn btn-primary">Create your list</button>
    <% end %>
  </div>
</div>

<div class="list-grid">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-product m-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= list.name %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
