<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Movies <strong>Watchlist</strong>!</h1>
    <p>Build your own movie lists and never lose track of which movie you want to watch!</p>
    <%= link_to new_list_path do %>
      <button class="btn btn-primary">Create your list</button>
    <% end %>
  </div>
</div>


