<div class="banner" style="">
  <div class="container">
    <h1>Movies <strong>Watchlist</strong>!</h1>
    <p>Build your own movie lists and never lose track of which movie you want to watch!</p>
    <%= link_to new_list_path do %>
      <button class="btn btn-primary">Create your list</button>
    <% end %>
  </div>
</div>

<div class="list-grid m-3">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('<%= cl_image_path list.photo.key %>')">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
